.y-about-us {
  background-image: url("/desctop-img/elements.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 60% auto;

  @include media-breakpoint-up(tablet) {
    background-size: auto;
  }
}

.y-about-us-img {
  max-width: 44.3125rem;
  width: 100%;
  margin-inline: auto;

  @include media-breakpoint-up(desktop) {
    max-width: none;
    width: auto;
    margin-inline: 0;
  }
}
