.y-about-us {
  background-image: url("/desctop-img/elements.png");
  background-repeat: no-repeat;
  background-position: right bottom;

  @include media-breakpoint-down(tablet) {
    background-size: 60% auto;
    background-position: right bottom;
  }
}

.y-about-us-img {
  @include media-breakpoint-down(desktop) {
    max-width: 44.3125rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
