.y-big-img {
  overflow-x: clip;

  .y-big-img-image {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-inline: auto;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  @include media-breakpoint-up(desktop) {
    .y-big-img-image {
      height: 48.5rem;
    }
  }
}
