.y-footer{
    background-image: url(/desctop-img/elements-yellow.png);
    background-repeat: no-repeat;
    background-position: right -9rem bottom;
    background-size: auto 100%;

    @include media-breakpoint-only(md) {
      background-position: right -15rem bottom;
    }

    @include media-breakpoint-up(xxl) {
        background-position: right -4rem bottom 0;
       }
       
    
}
.y-footer-nav {
    font-size: $footer-nav-font-size;
    text-transform: uppercase;
    margin-bottom: $footer-nav-margin-bottom;

    @media (max-width: 576px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $spacer;
        justify-items: start;
        text-align: center;

        .nav-item:nth-child(1) {
            grid-row: 1;
            grid-column: 1;
        }

        .nav-item:nth-child(2) {
            grid-row: 2;
            grid-column: 1;
        }

        .nav-item:nth-child(3) {
            grid-row: 1;
            grid-column: 2;
        }

        .nav-item:nth-child(4) {
            grid-row: 2;
            grid-column: 2;
        }
    }
}

.y-footer-nav-link {
    color: $footer-nav-link-color;
    padding-left: $footer-nav-link-padding-y;
    padding-right: $footer-nav-link-padding-y;

    @media (max-width: 576px) {
        padding-left: $spacer * 0.5;
        padding-right: $spacer * 0.5;
    }
    
    &:hover {
        color: $secondary;
    }
}
.y-footer-text {
  font-size: $footer-text-font-size;
  line-height: 1.15625;
  letter-spacing: -0.03em;
  color: $footer-text-color;

  @include media-breakpoint-only(md) {
    font-size: 54px;
    line-height: 1.18519;

    .y-footer-text-last-word {
      display: block;
    }
  }

  @media (max-width: 576px) {
    font-size: 44px;
    line-height: 1.22727;
  }
}