.y-hero-img {
  margin-top: 40px;

  @include media-breakpoint-only(tablet) {
    margin-top: 46px;
  }

  @include media-breakpoint-up(desktop) {
    margin-top: 0;
  }
}

.y-hero-lead-text {
  color: $hero-lead-color;
  font-size: 44px;
  line-height: 1.0909;
  letter-spacing: -0.03em;

  @include media-breakpoint-up(tablet) {
    @include font-size($hero-font-size-md);

    line-height: 1.1563;
  }

  @include media-breakpoint-up(xxl) {
    @include font-size($hero-font-size-xxl);
  }
}

.y-hero-handmade {
  width: 7rem;
}

.y-hero-handmade-text {
  letter-spacing: -0.04em;
}

.y-hero-btn {
  padding: 15px;

  @include media-breakpoint-up(tablet) {
    padding: $btn-padding-y $btn-padding-x;
  }

  @include media-breakpoint-up(desktop) {
    margin-left: 11.3125rem;
  }
}
