.y-hero {
  padding-top: 5.3125rem;
  padding-bottom: 5.3125rem;
}

// .y-hero-img {
// }

.y-hero-lead-text {
  color: $hero-lead-color;
  font-size: $hero-font-size;
  @include media-breakpoint-up(md) {
    @include font-size($hero-font-size-md);
  }

  @include media-breakpoint-up(xxl) {
    @include font-size($hero-font-size-xxl);
  }
  line-height: 1.15625;
  letter-spacing: -0.03em;
  
}

.y-hero-handmade {
  width: 7rem;
  text-align: center;
}

.y-hero-handmade-img {
  margin-bottom: 1rem;
}

.y-hero-handmade-text {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: -0.04em;
}
.y-hero-btn{
margin-left: 11.3125rem;
}
