.y-order {
  background-image: url(../public/desctop-img/elements.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.y-order form {
  height: $order-form-height;
  margin-bottom: $order-btn-gap;
}

.y-order textarea.form-control {
  height: 12.25rem; // 196px
  resize: none;
}

.y-order .row {
  align-items: stretch;
}

.y-order .col-6:first-child {
  padding-left: 0;
}

.y-order .col-6:first-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.y-order-text {
  font-size: $order-text-font-size;
  margin-bottom: 2.5rem;
}

.y-order-form {
  max-width: 30rem;
}