.y-order {
  background-image: url(/desctop-img/elements.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.y-order form {
  height: $order-form-height;
  margin-bottom: $order-btn-gap;
}

.y-order textarea {
  height: 12.25rem; // 196px
  resize: none;
}





// .y-order .col-6:first-child img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   display: block;
// }


.y-order-text {
  font-size: $order-text-font-size;
  margin-bottom: 2.5rem;
}

.y-order-form {
  max-width: 30rem;
};

.y-order-gap {
  width: 50px;
}
.y-order-img {
  width: 524px;
  height: 521px;
  object-fit: cover;
  display: block;
  object-position: center center;

  @include media-breakpoint-up(md) {
    width: 588px;
  }

  @include media-breakpoint-up(xxl) {
    width: 521px;
  }
}