.y-order {
  @include media-breakpoint-up(tablet) {
    background-image: url(/desctop-img/elements.png);
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  @include media-breakpoint-only(tablet) {
    background-size: 30% auto;
  }
}

.y-order form {
  margin-bottom: $order-btn-gap;

  @include media-breakpoint-up(desktop) {
    height: $order-form-height;
  }

  @include media-breakpoint-down(desktop) {
    height: auto;
  }

  @include media-breakpoint-only(tablet) {
    margin-bottom: 100px;
  }
}

.y-order textarea {
  height: 12.25rem; // 196px
  resize: none;
}

.y-order-text {
  font-size: $order-text-font-size;
  margin-bottom: 2.5rem;
}

.y-order-form {
  max-width: 30rem;

  @include media-breakpoint-only(tablet) {
    > .mb-3:last-of-type {
      margin-bottom: 0 !important;
    }

    .y-order-btn {
      margin-top: $order-btn-gap;
    }
  }
}

.y-order-layout {
  @include media-breakpoint-down(desktop) {
    flex-direction: column;
  }

  @include media-breakpoint-only(tablet) {
    > div:first-child {
      order: 2;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    > div:last-child {
      order: 1;
    }
  }
}

.y-order-gap {
  width: 3.125rem;

  @include media-breakpoint-down(desktop) {
    display: none;
  }
}

.y-order-img {
  width: 32.75rem;
  height: 32.5625rem;
  object-fit: cover;
  display: block;
  object-position: center center;

  @include media-breakpoint-up(tablet) {
    width: 36.75rem;
  }

  @include media-breakpoint-only(tablet) {
    width: 44rem; // 704px
    max-width: 100%;
    height: 32.5625rem; // 521px
  }

  @include media-breakpoint-up(xxl) {
    width: 32.5625rem;
  }
}

@include media-breakpoint-down(tablet) {
  .y-order form {
    margin-bottom: 0;
  }

  .y-order-img {
    display: none;
  }

  .y-order-text {
    font-size: 32px;
  }

  .y-order-form {
    .form-label,
    .form-control,
    .form-control::placeholder {
      font-size: 14px;
    }

    .form-control {
      padding: 14px 16px;
    }

    > .mb-3:last-of-type {
      margin-bottom: 0 !important;
    }
  }

  .y-order-btn {
    display: block;
    margin-top: $order-btn-gap;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    padding: 15px;
  }
}
