.y-btn {
  text-transform: uppercase;
}

.y-btn-with-icon {
  > i {
    margin-left: 0.625rem;
    transform: rotate(-45deg); // not recommended
  }
}

.y-btn-outline-primary {
  border-color: $btn-outline-primary-border-color;
  
  &.y-btn-with-icon {
    > i {
      color: $secondary;
    }
  }

  &:hover {
    border-color: $btn-outline-primary-border-color-hover;
    background-color: transparent;
    color: $btn-outline-primary-color-hover;
  }
}
.y-btn-outline-primary-social {
  display: inline-flex;
  width: $btn-height;
  height: $btn-height;
  font-size: 1.4375rem;
  line-height: 1;
  background-color: $btn-outline-primary-social-bg;
  padding: 0;
  justify-content: center;
  align-items: center;
}
