$hover-primary: $secondary;

$btn-outline-primary-border-color: $border-color;
$btn-outline-primary-border-color-hover: $hover-primary;
$btn-outline-primary-color-hover: $primary;
$btn-outline-primary-social-bg: $border-color;
$btn-height: calc(
  $btn-padding-y * 2 + $btn-font-size * $btn-line-height + $btn-border-width * 2
);

// Hero
$hero-lead-color: $primary;
$hero-font-size: 2.75rem; // mobile and tab, 44px
$hero-font-size-md: 3.375rem; // medium, 54px
$hero-font-size-xxl: 4rem; // xxlarge, 64px

// Our collection
$our-collection-font-size: 1rem;
$our-collection-font-weight: 31.25rem;

// Order
$order-form-width: 31.75rem; // 508px
$order-form-height: 21rem; // 336px
$order-text-font-size: 2.5rem;
$order-btn-gap: 2.5rem; // 40px

// Footer
$footer-nav-font-size: $font-size-base * 0.875;
$footer-nav-link-color: $primary;
$footer-nav-link-padding-y: $spacer * 0.75;
$footer-text-color: $primary;
$footer-text-font-size: 4rem;
$footer-nav-margin-bottom: 7rem;
