.y-navbar {
  .y-navbar-nav {
    flex-direction: row;
  }
  .y-navbar-btns {
    display: inline-flex;
    gap: $spacer * 1.25; // 20px
  }
  .y-navbar-social-btns {
    display: inline-flex;
    gap: $spacer * 0.75; // 12px
  }
  .y-nav-link {
    color: $navbar-nav-link-color;
    font-weight: $navbar-nav-link-font-weight;
    font-size: $navbar-nav-link-font-size;
    line-height: $navbar-nav-link-line-height;
    text-transform: uppercase;
    padding-left: $navbar-nav-link-padding-y;
    padding-right: $navbar-nav-link-padding-y;

    &:hover {
      color: $secondary;
  }
  }
}
