.y-testimonials {
    padding-top: $spacer * 9;
    padding-bottom: $spacer * 9;
}

.y-testimonials-heading {
    margin-bottom: $spacer * 4.5;
}

.y-testimonials-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 $spacer * 1.125 $spacer * 1.125;
    overflow: visible; // додай це
}

.y-testimonials-item-img {
    margin-top: -2rem;
    object-fit: cover;
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    position: relative; // додай це
    z-index: 1; // додай це
    overflow: hidden; // додай це
}

.y-testimonials-item-name {
    font-size: $spacer * 1.25;
}

.y-testimonials-item-quote {
   text-align: center;
   margin-bottom: 0;
}